In [1]:
import pandas as pd
import numpy as np
import CSF

In [2]:
data = pd.read_csv("dixingpo.txt")

In [3]:
data.head()

   id       x       y      z
0   0 -24.040 -24.878 -5.222
1   1 -24.278 -24.836  4.431
2   2 -23.789 -24.421 -5.149
3   3 -23.467 -24.876 -5.162
4   4 -23.260 -24.953 -5.149

In [4]:
del data['id']

In [5]:
data.head()

        x       y      z
0 -24.040 -24.878 -5.222
1 -24.278 -24.836  4.431
2 -23.789 -24.421 -5.149
3 -23.467 -24.876 -5.162
4 -23.260 -24.953 -5.149

In [6]:
data.to_csv('test.txt',sep=' ',index=0,header=0,mode='a')

数据处理的目的：
- 将原始数据`dixingpo.txt`添加表头`id` `x` `y` `z`
- 使用`pandas`删除第一列的序号
- 将数据另存为`test.txt`，间隔符改为`\t`，方便调用`CSF`类。